<div class="container text-white">
   <div class="text-center mb-5">
        <h3 style="color:#66FD0F;" class="fw-bold">My Blog</h3>
        <h3 class="display-7 fw-semibold mt-3">
            Sharing insights, experiences, and innovations in technology.
        </h3>
    </div>
    <hr>
    <br>
    <div class="row justify-content-center g-4">
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 border border-2 bg-transparent">
                <img src="/images/portfolio/project.jpg" class="card-img-top" alt="AI Smart Shelf">
                <div class="card-body">
                    <h5 class="card-title" style="color:#66FD0F;">AI Smart Shelf</h5>
                    <p class="card-text text-white">
                        Computer Vision system to detect and track medicine positions in pharmacy shelves.
                    </p>
                    <a href="#" class="btn btn-outline-primary mt-4 position-relative"
                        data-aos="fade-up" data-aos-duration="1600">
                        Read More
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card h-100 border border-2 bg-transparent">
                <img src="/images/portfolio/project.jpg" class="card-img-top" alt="AI Smart Shelf">
                <div class="card-body">
                    <h5 class="card-title" style="color:#66FD0F;">AI Smart Shelf</h5>
                    <p class="card-text text-white">
                        Computer Vision system to detect and track medicine positions in pharmacy shelves.
                    </p>
                    <a href="#" class="btn btn-outline-primary mt-4 position-relative"
                        data-aos="fade-up" data-aos-duration="1600">
                        Read More
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card h-100 border border-2 bg-transparent">
                <img src="/images/portfolio/project.jpg" class="card-img-top" alt="AI Smart Shelf">
                <div class="card-body">
                    <h5 class="card-title" style="color:#66FD0F;">AI Smart Shelf</h5>
                    <p class="card-text text-white">
                        Computer Vision system to detect and track medicine positions in pharmacy shelves.
                    </p>
                    <a href="#" class="btn btn-outline-primary mt-4 position-relative"
                        data-aos="fade-up" data-aos-duration="1600">
                        Read More
                    </a>
                </div>
            </div>
        </div>

    </div>
    <br>
    <hr>
</div>
