<div class="container text-white">
    <div class="row flex-row-reverse justify-content-center align-items-center">
        <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-duration="1400">
            <div class="position-relative">
                <img src="images/profile.png" alt="img" class="img-fluid rounded-circle w-100 p-5">
                <div class="position-absolute top-0">
                    <img src="images/banner-img-border.png" alt="img"
                        class="img-fluid rounded-circle animated-border">
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-5">
           <p class="letter-space text-primary fw-semibold fs-3" data-aos="fade-up" data-aos-duration="1000">
            Hi, I’m Tangguh Laksana
            </p>

            <h2 class="banner-size fw-medium display-3 my-4" data-aos="fade-up" data-aos-duration="1200">
            .NET Expertise, AI Innovation
            </h2>

            <p data-aos="fade-up" data-aos-duration="1400">
            With over 4 years of experience in .NET development, I specialize in crafting reliable and scalable software solutions. 
            My passion lies in Artificial Intelligence and Computer Vision — building systems that empower machines to see, 
            understand, and create meaningful impact in the real world.
            </p>

            <a href="portfolio.html" class="btn btn-outline-primary mt-4 position-relative pe-5"
                data-aos="fade-up" data-aos-duration="1600">
                view all works
                <div class="position-absolute top-50 end-0 translate-middle-y me-3">
                    <svg class="arrow-right p-1" width="28" height="28">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>